# Ignore les node_modules à la racine ET dans le dossier backend
node_modules/
backend/node_modules/

# Secrets et configurations locales
.env
.env.*

# Fichiers de log et systèmes
*.log
*.DS_Store
dist/
build/
# Ignore les images temporaires générées par l'IA
backend/temp_verification_*.png